html {
  padding: 0;
  background-color: #F2EFEE;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.title {
  font-weight: 800;
}

.content{
  width: 60%;
}

.searchInput {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dataList {
  z-index: 2;
  position: inherit;
  width: 20%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dataListElement {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .searchInput {
    width: 80%;
  }
  .dataList {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .searchInput {
    width: 80%;
  }
  .dataList {
    width: 80%;
  }
  .content {
    font-size: 1.2rem;
    width: 80%;
  }
}